
body {
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
    background-color: #f3f6fd;
    font-size: 13px;
    font-weight: bold;
    color: #918b8b
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px;
    color:#918b8b;
}

ul>li:hover {
    color: #3f8c99;
    cursor: pointer
}

hr {
    border-width: 3px
}

.card {
    padding: 2% 7%
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #3f8c99;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: black
}

.divider {
    border-top: 2px solid
}
.container-fluid {
    padding: 0 !important;
}
.container-fluid .card {
    margin: 0 !important;
}